.facebook {
position: fixed;
top: 183px;
left: -462px;
width: 490px;
z-index: 1000;
height: 150px;
}

.facebook img.facebook-przycisk {
float: right;
}

.facebook .facebook-ramka {
width: 462px;
height: 510px;
float: right;
}

.facebook .facebook-ramka a {
text-decoration: none;
color: #547f0f;
border-bottom: 1px dotted #547f0f;
}

.facebook .facebook-ramka a:hover {
text-decoration: none;
color: #000018;
border-bottom: 1px dotted #000018;
}